/* src/app/inbox/move-mail-popover.component.scss */
ion-item {
  --inner-padding-end: 16px;
  --inner-padding-start: 16px;
  --padding-start: 0;
  min-height: 44px;
  
  ion-label {
    font-size: 15px;
  }
  
  ion-icon {
    font-size: 20px;
  }
}

/* Thêm style cho mục hiện tại (mục bị disable) */
ion-item.is-current-folder {
  ion-label {
    color: var(--ion-color-medium); /* Màu xám */
    font-weight: 500;
  }
  ion-icon {
    color: var(--ion-color-medium); /* Màu xám */
  }
}

/* Thêm style cho mục bị disable (để đảm bảo không thể click) */
ion-item[disabled] {
    opacity: 0.8; /* Làm mờ một chút */
    pointer-events: none; /* Đảm bảo không thể click */
}